/CPPKube/.vs
/CPPKube/RayCPPKube/x64
/CPPKube/RayCPPKube/.vs
/CPPKube/x64
/CPPKube/x64
/CPPKube/x64
CPPKube/x64/Release/RayCPPKube.exe
/CPPKube/x64
/CPPKube/BUILD
/CPPKube/x64
/WFSharp/obj
/WFSharp/bin
WFSharp/.vs/WFSharp.slnx/FileContentIndex/afed39b7-fb32-4069-9b5f-1059526f8fd7.vsidx
/WFSharp/.vs
/WFSharp/.vs
/WFSharp/.vs
/WFSharp/.vs
/BUILDFORSETUP/Installer
*.mp4

.fake
/CPPKube/.idea
